build

__pycache__

# unused component
mpm

host/cmake/Modules/FindDPDK.cmake

host/docs

host/lib/deps/rpclib
host/lib/deps/import_rpclib.py
host/lib/deps/rpc_CMakeLists.txt
host/lib/deps/ic_reg_maps
host/lib/deps/*.patch

host/lib/include/uhdlib/transport/dpdk_io_service_client.hpp
host/lib/include/uhdlib/transport/dpdk_io_service.hpp
host/lib/include/uhdlib/transport/dpdk_simple.hpp
host/lib/include/uhdlib/transport/nirio_link.hpp
host/lib/include/uhdlib/transport/udp_dpdk_link.hpp
host/lib/include/uhdlib/transport/dpdk

host/lib/include/uhdlib/usrp/common/dpdk_io_service_mgr.hpp
host/lib/include/uhdlib/usrp/common/fx2_ctrl.hpp
host/lib/include/uhdlib/usrp/common/x400_rfdc_control.hpp

host/lib/include/uhdlib/usrp/cores/gpio_core_200.hpp
host/lib/include/uhdlib/usrp/cores/i2c_core_200.hpp
host/lib/include/uhdlib/usrp/cores/rx_dsp_core_200.hpp
host/lib/include/uhdlib/usrp/cores/time64_core_200.hpp
host/lib/include/uhdlib/usrp/cores/tx_dsp_core_200.hpp

host/lib/include/uhdlib/usrp/dboard

host/lib/transport/dpdk_simple.cpp
host/lib/transport/nirio
host/lib/transport/nirio_link.cpp
host/lib/transport/nirio_zero_copy.cpp
host/lib/transport/udp_dpdk_link.cpp
host/lib/transport/uhd-dpdk

host/lib/usrp/common/fx2_ctrl.cpp

host/lib/usrp/cores/gpio_core_200.cpp
host/lib/usrp/cores/i2c_core_200.cpp
host/lib/usrp/cores/rx_dsp_core_200.cpp
host/lib/usrp/cores/time64_core_200.cpp
host/lib/usrp/cores/tx_dsp_core_200.cpp
host/lib/usrp/cores/user_settings_core_200.cpp

host/lib/usrp_clock/octoclock

host/lib/usrp/b100
host/lib/usrp/dboard
host/lib/usrp/mpmd
host/lib/usrp/usrp1
host/lib/usrp/usrp2
host/lib/usrp/x300
host/lib/usrp/x400

host/tests/dpdk_port_test.cpp
host/tests/dpdk_test.cpp
host/tests/x400_rfdc_control_test.cpp
host/tests/zbx_cpld_test.cpp

host/tests/devtest/devtest_e3xx.py
host/tests/devtest/devtest_e320.py
host/tests/devtest/devtest_n3x0.py
host/tests/devtest/devtest_x3x0.py
host/tests/devtest/devtest_x410.py
host/tests/devtest/devtest_x440.py

host/tests/pytests/uhd_configs/uhd_dpdk_10GbE.conf
host/tests/pytests/uhd_configs/uhd_dpdk_100GbE_SFP1.conf
host/tests/pytests/uhd_configs/uhd_dpdk_100GbE_x440.conf
host/tests/pytests/uhd_configs/uhd_dpdk_100GbE.conf

host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp

host/tests/streaming_performance/run_E3xx_max_rate_tests.py
host/tests/streaming_performance/run_N3xx_max_rate_tests.py
host/tests/streaming_performance/run_X3xx_max_rate_tests.py
host/tests/streaming_performance/run_X4xx_max_rate_tests.py
host/tests/streaming_performance/setup10gbe.sh
host/tests/streaming_performance/setup100gbe.sh

host/utils/b100_eeprom.h
host/utils/fx2_init_eeprom.cpp
host/utils/octoclock_burn_eeprom.cpp
host/utils/usrp1_eeprom.h
host/utils/usrp2_card_burner_gui.py
host/utils/usrp2_card_burner.py
host/utils/usrp2_recovery.py
host/utils/x4xx_query_adc_threshold.py
host/utils/x300_reset.py
